# Project Environment Variables

# Backend
PORT=3000
NODE_ENV=development
DATABASE_URL=
SUPABASE_URL=https://umvbyywkojuxnxgkuwbt.supabase.co
SUPABASE_KEY=https://umvbyywkojuxnxgkuwbt.supabase.co

# Frontend
VITE_API_URL=http://localhost:3000
VITE_SUPABASE_URL=https://umvbyywkojuxnxgkuwbt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtdmJ5eXdrb2p1eG54Z2t1d2J0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyOTkwNjQsImV4cCI6MjA5NTg3NTA2NH0.t9mzbmb3VVuvnKKeahH8aaalTGgoBR18TTsiVGd-cPc
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtdmJ5eXdrb2p1eG54Z2t1d2J0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDI5OTA2NCwiZXhwIjoyMDk1ODc1MDY0fQ.1Ioib7SrEx8RbhwtZzYFbnL1dQLOLvcqGpo-MlhWTkQ