# Dependencies
node_modules

# Build & Compiled Output
dist
build
coverage
.turbo
.next
.expo
expo-env.d.ts

# Environment Files
.env
.env.*
*.env
**/.env
**/.env.*
!.env.example
!**/.env.example
apps/backend/.env

# Logs
*.log

# IDE
.eslintcache
EduTech/
dist/
apps/web_app/dist/
